---
interface WorkItemProps {
  title: string;
  client: string;
  year: number;
  role: string[];
  video: string;
  type: string;
  size: "S" | "M" | "L";
}

const props = Astro.props as WorkItemProps;
const { title, client, year, type, role, video, size } = props;

const sizeClasses = {
  // S: "col-span-1",
  // M: "col-span-2",
  // L: "col-span-3",
};
---

<!-- <div class={`work-item ${sizeClasses[size]}`}> --><!-- <video class="hidden work-item-bg-video" autoplay loop muted>
    <source src={video} type="video/mp4" />
  </video> -->
<div class="flex flex-wrap items-baseline space-x-4">
  <p class="year">{year}</p>
  <h3 class="flex-1 title">{title}</h3>
  <h4 class="flex-1 client">{client}</h4>
  <h5 class="flex-1 type">{type}</h5>
  <div class="flex flex-wrap gap-2 role-pills">
    {role.map((r) => <span class="pill">{r}</span>)}
  </div>
</div>

<style>
  .year {
    flex-shrink: 0;
    font-size: 0.875rem;
  }
  .title {
    font-family: var(--font-family-default);
    font-size: var(--step--1);
    flex-grow: 1;
  }
  .client,
  .type {
    font-family: var(--font-family-default);
    font-size: var(--step--1);
    flex: 1;
  }
  .role-pills {
    display: flex;
    gap: 0.5rem;
    align-items: flex-start;
    flex: 1;
  }
  .pill {
    background: rgba(0, 0, 0, 0.2);
    padding: 0.25rem 0.5rem;
    font-size: var(--step--2);
    line-height: 1;
    border-radius: 999px;
  }
</style>
