---
interface WorkItemProps {
  title: string;
  client: string;
  year: number;
  role: string[];
  video: string;
  type: string;
  size: "S" | "M" | "L";
}

const props = Astro.props as WorkItemProps;
const { title, client, year, type, role, video, size } = props;

const sizeClasses = {
  // S: "col-span-1",
  // M: "col-span-2",
  // L: "col-span-3",
};
---

<!-- <div class={`work-item ${sizeClasses[size]}`}> --><!-- <video class="hidden work-item-bg-video" autoplay loop muted>
    <source src={video} type="video/mp4" />
  </video> -->
<div
  class="work-row grid grid-flow-row grid-cols-4 items-center gap-2 py-4 md:gap-2 lg:grid-cols-12"
>
  <div class="col-span-2 flex flex-row items-baseline gap-4 lg:col-span-3">
    <p class="year">{year}</p>
    <h3 class="client">{client}</h3>
  </div>
  <h4 class="title col-span-2 lg:col-span-7">{title}</h4>
  <!-- <h5 class="flex-1 type">{type}</h5> -->
  <ul class="role-pills col-span-2 flex">
    {role.map((r) => <li class="pill">{r}</li>)}
  </ul>
</div>

<style>
  /* * {
    border: 1px solid rgba(255, 255, 255, 0.125);
  } */

  .work-row {
    border-top: 2px solid rgba(0, 0, 0, 0.05);
  }

  .year {
    flex-shrink: 0;
    font-size: 0.875rem;
  }
  .title {
    font-family: var(--font-family-default);
    font-size: var(--step--1);
    flex-grow: 1;
    line-height: 112.5%;
    font-weight: 500;
  }
  .client {
    font-family: var(--font-family-special);
    font-size: var(--step-0);
    line-height: 1;
    padding-top: calc(0.125rem + 0.4vw);
  }
  .type {
    font-family: var(--font-family-default);
    font-size: var(--step--1);
    flex: 1;
    text-wrap: nowrap;
  }
  .role-pills {
    display: flex;
    gap: 0.5rem;
    align-items: flex-start;
    flex: 1;
  }
  .pill {
    background: var(--background);
    padding: 0.475rem 0.675rem;
    font-size: var(--step--2);
    font-family: var(--font-family-mono);
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    line-height: 1;
    border-radius: 999px;
    text-wrap: nowrap;
  }
</style>
