---
interface WorkItemProps {
  title: string;
  client: string;
  year: number;
  role: string[];
  video: string;
  // size: "S" | "M" | "L";
}

const props = Astro.props as WorkItemProps;
const { title, client, year, role, video, size } = props;

const sizeClasses = {
  // S: "col-span-1",
  // M: "col-span-2",
  // L: "col-span-3",
};
---

<!-- <div class={`work-item ${sizeClasses[size]}`}> -->
<div class="work-item">
  <video class="hidden work-item-bg-video" autoplay loop muted>
    <source src={video} type="video/mp4" />
  </video>
  <div class="grid grid-cols-5 gap-4 work-item-content">
    <h3>{client}</h3>
    <p>{year}</p>
    <div class="role-pills">
      {role.map((r) => <span class="pill">{r}</span>)}
    </div>
  </div>

  <style>
    .work-item {
      position: relative;

      transition: all 0.6s cubic-bezier(0.65, 0, 0.35, 1);
    }

    .work-item-content {
    }

    .role-pills {
      display: flex;
      gap: 0.5rem;
    }

    .pill {
      background: #0070f3;
      padding: 0.5rem 1rem;
      border-radius: 999px;
      font-family: var(--font-mono);
    }
  </style>
</div>
